.description-div {
    width: 130px;
    height: 130px;
    margin: 20px auto;
    border: 3px solid green;
    display: inline-block;
    text-align: center;
    padding: 10px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    
}

.img-container img {
    width: 150px;
    height: 150px;
    margin: 20px auto;
    border: 3px green solid;
}

.img-container {
    width: 200px;
    height: 200px;
    display: inline-block;
    margin: 25px;
}

.img-container button {
    width: 100px;
    margin-bottom: 15px;
}

.delete-photo-btn {
    width: 50px;
    
}